@import url(var.css);

/*==========Preset=======================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: var(--karla);
    font-size: var(--fs-body);
    font-weight: 500;
    margin: 0;
    line-height: 1.6;
    background-color: var(--main-color);
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1,
h3,
h4,
h6,
p{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/*==========Utility Classes=======================*/
.wrapper {
    margin: 0 1rem;
}
.dark-btn{
    --fg:var(--softgrey);
    --bg:var(--strongblue);
}

.light-btn{
    --fg:var(--strongblue);
    --bg: transparent;
}

.btn{
    font-size: 0.75rem;
    width: 100%;
    border: 1px solid var(--strongblue);
    border-radius: 3px;
    background-color: var(--bg);
    padding: 0.5em;
    text-align: center;
    color: var(--fg);
}

.feature-icon{
    max-width: 52px;
}

.shadow {
    box-shadow: 0.25px 2.50px #041C40;
}
/*=========Styling & Layout==============*/
/*============Header=============*/
.logo{
    max-width: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.375em;
}

.navigation1,
.navigation2 {
    display: none;
}

.burger {
    max-width: 32px;
}

/*===============Section 1=============*/
section{
    margin-top: 3.75em;
}

.intro-section{
    display: flex;
    flex-direction: column-reverse;
    gap: 3em;
}
.title {
    font-size: 2rem;
    font-weight: 900;
    color: var(--strongblue);
}

.intro-text {
    max-width: 650px;
    font-size: 1rem;
    margin-top: 1.25em;
    color: var(--stronggrey);
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}
#email_input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid var(--softgrey);
    border-radius: 3px;
}

::placeholder {
    font-size: 0.675rem;
}

.checkmarks{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 0.625em;
}
.checkmark{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.checkmark span{
    font-size: 0.75rem;
    color: var(--stronggrey);
}

/*=============Features-Section=============================*/

.section2{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
}
.feature{
    background-color: var(--white);
    padding: 24px 32px;
    border: 1px solid var(--stronggrey);
    border-radius: 4px;
}

.feature-title,
.feature-text{
    margin-top: 1rem;
}

.feature-title{
    font-size: 1.75rem;
}

.feature-text{
    font-size: 1.25rem;
    padding-right: 16px;
    color: var(--softgrey);
}

/*=================Cta Section=========================*/

.section3 {
    margin-top: 5em;
}

.cta-text{
    font-size: 0.825rem;
    margin-top: 1.5em;
    color: var(--softgrey);
}
.plans{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

.price,
.ad{
   
    padding: 1.75em 1.5em;
    border: 1px solid var(--stronggrey);
    border-radius: 4px;
}

.plan-tag{
    --fg:var(--white);
    font-size: 0.75rem;
    display: inline-block;
    background-color: var(--bg);
    padding: 0.675rem 1.5rem;
    border: 1px solid var(--strongblue);
    border-radius: 32px;
    box-shadow: 0.25px 2.50px 4px 0px #13366D;
    color: var(--fg);
}

.button {
    display: block;
    padding: 0.5rem 0;
    margin-top: 16px;
    cursor: pointer;
    
}

.button.dark-btn {
    --fg:var(--white);
}

.plan-features {
    margin-top: 1.75em;
}

.plan-features > * + *{
    margin-top: 1.5em;
}
.plan-feature {
    font-size: 0.925rem;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    color: var(--stronggrey);
}

.plan-feature span{
    margin-bottom: 2px;
}

.bold {
    font-weight: 900;
    color: var(--black);
}
.plan-price {
    font-size: 2.25rem;
}

.plan-price span{
    color: var(--stronggrey);
}

.ent-price {
    font-size: 1rem;
    margin-top: 1.25rem;
    color: var(--stronggrey);
}

.ad p{
    font-size: 0.875rem;
    margin-top: 1.25rem;
    color: var(--stronggrey);
}
.img-container {
    display: block;
}

.footer-text{
    margin-top: 3.75rem;
}



/* ========Tablet========= */

@media (min-width:768px){ 
/* ==================The Header===================== */
    /* Remove Menu Icon */
    .burger{
        display: none;
    }

    /* display the naviguation bar */
    .navigation1 , .navigation2 {
        display: contents;
    }

/* ==== Naviguation 1 ==== */
    .navigation1 ul{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .navigation1 ul li{
        padding: 0 10px;
    }

    .navigation1 ul li a{
        color: var(--black);
        font-size: 20px;
    }

    /* ==== Naviguation 2 ==== */
    .navigation2 ul{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .navigation2 ul li{
        padding: 0 10px;
    }

    .navigation2 ul li a{
        font-size: 20px;
        /* Fixing the decalage between the naviguations */
        margin: 0;
    }
    
    .navigation2 ul li:first-child a{
        color: black;
    }

    /* =================The Sections============== */
    /* ===The First Section==== */
    .input-container{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis:  auto;
        justify-content: space-evenly;
        gap:2px;
    }

    input[type=email]{
        flex-basis:  80%;
    }

    .input-container a{
        flex-basis:  19%;
    }

    /*Check marks */
    .checkmarks{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis:  auto;
        justify-content: space-evenly;
    }

    .checkmarks > div{
        width: 47.5%;
        
    }

    .checkmarks div span{
        font-size: 20px;
    }

    /* ===The Second Section==== */
    .section2{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis:  auto;
        justify-content: space-evenly;
    }
    
    .section2 > div{
        width: 47.5%;
    }

    /* =====The Third Section===== */
    .plans{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis:  auto 0;
        justify-content: space-evenly;
    }

    .plans > div{
        gap:2px;
        width: 47.5%;
    }
    
    .plans div:nth-child(3) p:last-child {
        font-size: 2.25rem;
        margin-top: 200px;
        
    }

    .plans div:nth-child(3) p:last-child a{
        color: black;
    }

    .ad{
        height: 50%;
    }

}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 78%;
        margin: 0 auto;
    }

    .navigation1,
    .navigation2 {
        display: flex;
    }

    .burger {
        display: none;
    }

    .navigation1 ul {
        display: flex;
        margin-left: 40px;
    }

    .navigation1 ul li {
        padding-left: 15px;
    }

    .navigation1 ul li a {
        color: var(--black);
    }

    .navigation2 ul {
        display: flex;
        align-items: center;
    }

    .navigation2 ul li {
        padding-left: 15px;
    }

    .navigation2 ul li:first-child {
        color: var(--stronggrey);
    }

    .navigation2 ul li a.button
    {
        margin-bottom: 20px;
    }

    .button1 {
        background-color: var(--softblue);
        border-radius: 3px;
        box-shadow: 0.25px 2.5px #041c40;
        padding: 6px 18px;
    }
        
    a.button1 {
        color: var(--white);
    }

    .intro-section {
        flex-direction: row;
        align-items: center;
    }

    .input-container {
        flex-direction: row;
    }

    .input-container .btn {
        margin-bottom: 3px;
    }

    .checkmarks {
        flex-direction: row;
        justify-content: space-between;
    }

    .section2 {
        flex-direction: row;
    }

    .feature {
        padding: 24px 16px;
        width: 25%;
    }

    .feature-title {
        font-size: 20px;
    }

    .feature-text {
        font-size: 13px;
    }

    .feature-text span {
        font-weight: bold;
        color: var(--black);
    }

    .section3 {
        margin-top: 3em;
    }

    .plans {
        flex-direction: row;
        flex-grow: 0;
    }

    .plan-feature {
        align-items: unset;
    }

    p.plan-price {
        padding-top: 98px;
        font-size: 26px;
    }

    li.plan-price {
        font-size: 26px;
    }

    .price {
        flex-basis: 25%;
        padding: 1.75em 1em;
    }

    .ad {
        height: 30%;
        flex-basis: 25%;
    }

    .footer-text {
        margin-bottom: 30px;
    }
    .plan-price{
        margin-top: 6rem;
    }

}

